<script id='user-signin-template' type='text/mustache'>
<form class="user-signin-form">
  <h3>Sign in to MegaMega Deals</h3>
  <label for='name'>Username or E-Mail</label>
  <input type='text' name='email_or_namee'>

  <label for='password'>Password</label>
  <input type='password' name='password'>

  <input type='submit' value='Signin'>
  <input id="cancel" type='button' value='Cancel'>
</form>
</script>


