<script type='text/mustache' id='single-deal-template'>
  <div class='item' style="background-color:{{&color}}">
  {{#deal}}
    <h3>{{title}}</h3>
    <div>
    {{body}}
    </div>
    <li><a href="{{&source}}">Go to the MegaDeal</a></li>
    <li>Meganess: {{clicks}}</li>
  {{/deal}}
  </div>
  </script>
