<script type='text/mustache' id='single-deal-template'>
  <div class='item'>
  {{#deal}}
    <div class="product_image">
    <img src="{{product_image}}" />
    </div>
    <div class="product_info" style="background-color:{{&color}}">
    <div class="product_title">{{title}}</div>
    <div class="product_price">${{price}}.00</div>
    <li><a href="{{&source}}">Go to the MegaDeal</a></li>
    <li>Meganess: {{clicks}}</li>
  {{/deal}}
  </div>
  </div>
  </script>
