<script type='text/mustache' id='single-deal-template'>
  {{#deal}}
    <h1>{{title}}</h1>
    <div>
    {{body}}
    </div>
    <li>Go to deal: <a href="{{&source}}">{{source}}</a></li>
    <li>Num. of clicks: {{clicks}}</li>
  {{/deal}}
  </script>
