<script type='text/mustache' id='single-deal-template'>
  <div class='item'>
  {{#deal}}
    <div class="product_image">
    <img src="{{product_image}}" />
    </div>
    <div class="product_info" >
    <div class="product_title">{{title}}</div>
    <div class="product_price">${{price}}.00</div>
    <a href="{{&source}}">Go to the MegaDeal</a>
    <div class="product_meganess">Meganess: {{clicks}}</div>
    <
  {{/deal}}
  </div>
  </div>
  </script>
