<script type="text/mustache">

</script>


<div id="dialog-form" title="Share a deal!">
  <p class="validateTips">All form fields are required.</p>
 
  <form class='deal-submit-form'>
  <fieldset>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
    <label for="email">Email</label>
    <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />

  </fieldset>
    <button type="submit">Fuck!</button>
  </form>
</div>
