<script id='submit-deal-form' type="text/mustache">
  <form class="deal-submit-form">
    <h3>Submit your deal</h3>
    <label for='title'></label>
    <input type='text' name='title'>

    <label for='body'>Description</label>
    <textarea name='body'></textarea>

    <label for='source'>Deal Source URL</label>
    <input type='text' name='source'>

    <input type='submit' value='Submit'>
    <input id="cancel" type='button' value='Cancel'>
  </form>
</script>
