<script id='user-signup-template' type='text/mustache'>
<form class="user-signup-form">
  <h3>Sign up</h3>
  <label for='name'>Username</label>
  <input type='text' name='name'>

  <label for='email'>Email</label>
  <input type='email' name='email'>

  <label for='password'>Password</label>
  <input type='password' name='password'>

  <label for='password_confirmation'>Confirm that shit</label>
  <input type='password' name='password_confirmation'>

  <input type='submit' value='Sign Up'>
  <input id="cancel" type='button' value='Cancel'>
</form>
</script>


