<h1>Today's MegaMega Deals</h1>

<div class='deals'>
  <script type='text/mustache' id='frontpage-deals'>
  {{#deals}}
    {{#attributes}}

    <div>
      <h3>{{title}}</h3>
      {{body}}
      {{clicks}}
    </div>

    {{/attributes}}
  {{/deals}}
  </script>
</div>

<script>

// $.ajaxPrefilter( function( options, originalOptions, jqXHR ) {
//       options.url = (<%= raw root_url %>).toString() + options.url
//     })

    $.fn.serializeObject = function() {
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
        if (o[this.name] !== undefined) {
          if (!o[this.name].push) {
            o[this.name] = [o[this.name]];
          }
        o[this.name].push(this.value || '');
        }
        else {
          o[this.name] = this.value || '';
        }
      });
      return o;
    };


    var Deal = Backbone.Model.extend({
      urlRoot: '/deals'
    })

    var Deals = Backbone.Collection.extend({
      url: '/deals',
      model: Deal
    })

    var DealsList = Backbone.View.extend({
      initialize: function(){
      },
      el: '.deals',
      render: function(){
        var _this = this
        var deals = new Deals()
        deals.fetch({
          success: function(dealsData){
            console.log(dealsData.models)
            var data = {deals: dealsData.models}
            var output = Mustache.render($("#frontpage-deals").html(), data)
            _this.$el.html(output)
          }
        })
      }
    })


    var Router = Backbone.Router.extend({
      routes: {
        '': 'home',
        'deals/:id': 'dealpage'
      }
    })

    var router = new Router()
    var dealslist = new DealsList()
    router.on('route:home', function(){
      dealslist.render()
    })

    router.on('route:')

    Backbone.history.start()
</script>
