<div class='deals' style="visibility: hidden">
</div>

	<div class='dummy-div'>
	</div>

<%= render "templates/frontpage_deals_template" %>
<%= render "templates/single_deal_template" %>
<%= render "templates/submit_deal_form" %>
