body {
  margin: 0;
}

.logo {
  font-family: 'Lily Script One', cursive;
  font-size: 1.5em;
  line-height: 40px;
  display: block;
  position: absolute;
  left: 50%;
  width: 230px;
  margin-left: -115px;
}

.menu {
  position: right;
  float: right;
  line-height: 40px;
  margin-right: 20px;
}

.menu a {
  color: #000000;
  text-decoration: none;
  font-size: .75em;
}

.header {
  width: 100%;
  height: 45px;
  background-color: #ecf0f1;
}

.nav {
  background-color: #ecf0f1;
  border-top: 1px #bdc3c7 solid;
  height: 30px;
  width: 100%;
}

.item {
  width: 223px;
  padding: 7px;
  float: left;
  overflow: hidden;
  position: relative;
  margin: 15px 5px 15px 5px;
  border-bottom-left-radius: 15px;
}

.deals {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;

}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

#dialog-form {
  background-color: white;
  border: 2px solid #000;
}


.ui-dialog .ui-state-error {
  padding: .3em;
}

.validateTips {
  border: 1px solid transparent;
  padding: 0.3em;
}

fieldset {
  padding:0;
  border:0;
  margin-top:25px;
}

label, input {
  display:block;
}

input.text {
  margin-bottom:12px;
  width:95%;
  padding: .4em;
}
