<!DOCTYPE html>
<html>
<head>
  <title>Welcome to MegaMegaDeals</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>

  </head>
<body>

<div class="header">
  <span class="logo">MegaMega Deals</span>
  <div class="menu">
  <a href="#" id="submit_deal">Submit</a>
  <a href="#"	id="log-in">Login</a>
  <a href="#"	id="sign-up">Sign Up</a>
</div>
</div>
<div class="nav">
</div>

<%= yield %>

</body>
</html>
